.ipynb_checkpoints/enzinvivo-checkpoint.ipynb
.ipynb_checkpoints/enzinvivo_plot-checkpoint.ipynb
enzinvivo_plot.ipynb
.ipynb_checkpoints/enzinvivo-checkpoint.ipynb
.ipynb_checkpoints/enzinvivo_plot2-checkpoint.ipynb
enzinvivo_plot2.ipynb
.ipynb_checkpoints/enzinvivo-checkpoint.ipynb
